.avatarURL {
    width: 100px;
    height: 100px;
}

.selectedPage{
    font-weight: bold;
    font-size: 20px;
}

.pages span{
    margin: 0 5px 0 0;
    cursor: pointer;
}

.usersList{
    margin: 50px 0 0 0;
    padding: 0 0 0 10px;
}

.oneUser{
    padding: 0 0 50px 0;
}
