.mypost {
    padding-top: 20px;
}

.divPost {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 0 0 2px black;
}
.labelMyPost{
    background-color: white;
    padding: 10px 0 10px 20px;
    box-shadow: 0 0 2px black;
}



.errors {
    color: red;
    font-size: 12px;
    font-style: italic;
    margin: 0 10px 10px 10px;
}

.formikForm{
    display: grid;
    grid-template-areas: 'textArea textArea'
                         'textArea button';
}

.button {
    grid-area: button;
    display: flex;
    padding-right: 90px;
}

.textArea{
    grid-area: textArea;
}