.avaAndDesc {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr  2fr;
    grid-template-areas:"name name"
                        "avatar about";
    grid-gap: 5px;
    background-color: steelblue;
    padding: 5px;

}
.avaImg {
    z-index: 1;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.avaImg img{
    width: 300px;
    grid-area: avatar;
    border-radius: 2px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}


.about {
    grid-area: about;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
.divDesc {
    margin: 0 auto;
    color: black;
    padding: 10px;
    font-size: 15px;
}

.divDescLabel{
    color: grey;
    margin: 0 0 0 0;
}
.userDecsName{
    grid-area: name;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px lightskyblue inset;
    padding: 10px;
    text-shadow: 0 2px 0 gold;
}
.descLinks{
    font-style: italic;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 5px;
}


.selectImg{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color:  rgba(205, 214, 219, 0.3);
}


.avatarInp {
    z-index: 3;
    position: absolute;
    bottom:  0;
    left: 0;
    color: red;
    background-color: black;
    margin: 5px;
}

.avatarInp input{
    margin: 2px;
}

.settingBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.avaImg:hover .settingBtn{
    display: inline-block;
}
