.avaAndDesc {
    max-width: 100%;
    display: grid;
    grid-template-columns: 300px  450px;
    grid-template-rows: 35px 300px;
    grid-template-areas:"name about"
                        "avatar about";
    grid-gap: 10px;
    padding: 5px;

}
.avaImg {
    z-index: 1;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.avaImg img{
    width: 300px;
    grid-area: avatar;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px black;
}


.loading{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}


.about {
    grid-area: about;
    background-color: white;
    box-shadow: 0 0 2px black;
    position: relative;

}
.divDesc {
    margin: 0 auto;
    color: black;
    padding: 10px;
    font-size: 15px;
}

.divDescLabel{
    padding-left: 5px;
}
.userDecsName{
    grid-area: name;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: white;
    text-shadow: 0 0 2px black;
    position: relative;
    box-shadow: 0 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divDescLabelName{
    position: absolute;
    top:0;
    right: 0;
    display: inline-block;
    font-size: 11px;
    padding: 2px;
    font-family: monospace;
    text-shadow: none;
}
.contacts{
    padding-left: 10px;
}
.links{
    padding-left: 10px;
}


.selectImg{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color:  rgba(205, 214, 219, 0.3);
}


.avatarInp {
    z-index: 3;
    position: absolute;
    bottom:  0;
    left: 0;
    color: red;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 5px;
}

.avatarInp input{
    margin: 2px;
}

.settingBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.avaImg:hover .settingBtn{
    display: inline-block;
}
