.avaAndDesc {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr  2fr;
    grid-template-areas:"name name"
                        "avatar about";
    grid-gap: 5px;
    background-color: steelblue;
    padding: 5px;

}
.avaImg {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaImg img{
    width: 300px;
    grid-area: avatar;
    border-radius: 2px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}


.about {
    grid-area: about;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
.divDesc {
    /*background-color: skyblue;*/
    margin: 0 auto;
    color: black;
    padding: 10px;
    font-size: 15px;
}

.divDescLabel{
    color: grey;
    margin: 0 0 0 0;
}
.userDecsName{
    grid-area: name;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px lightskyblue inset;
    padding: 10px;
    text-shadow: 0 2px 0 gold;
}
.descLinks{
    font-style: italic;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}