.status{
    padding: 5px;
}

.statusGrid{
    display: grid;
    grid-template-areas: "statusArea"
                        'profileStatusHooksBtn';
}
.textArea textarea{
    width: 435px;
    height: 90px;
    font-style: italic;
    font-size: 13px;
    outline: none;
    -moz-appearance: none;
    resize: none;
}

.statusArea{
    grid-area: statusArea;
    width: 435px;
    word-wrap:break-word;
    font-style: italic;
    font-size: 15px;
    margin: 5px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    display: inline-block;
}



.profileStatusHooksBtn{
    grid-area: profileStatusHooksBtn;
    padding-left: 15px;

}
.profileStatusHooksBtn button{
    margin: 0;
}


