
.header {
    grid-area: h;
    background:url("https://img.freepik.com/free-vector/set-of-different-cartoon-clouds-isolated-on-blue-sky_42875-591.jpg?size=626&ext=jpg");
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.header img {
    width: 60px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    margin:5px 0 3px 10px;
    background-color: white;
    border-radius: 10px;
}
