.nav {
    grid-area: n;
    background-color: #EDEEF0;

    padding: 80px 50px 10px 50px;

}

.item {
    font-size: large;
}

.item a {
    color: #4B77A8;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.item.settings {
    margin: 40px 0 0 0;
}

.item.friends {
    color: #4B77A8;
    font-size: large;
}

.navMargin {
    padding: 10px 20px 30px 20px;
    text-shadow: 0 0 1px black;


}

.users{
    font-size: large;
    padding: 10px 10px 100px 10px;
}

.users a{
    text-decoration: none;
    color: #4B77A8;
}

.users a.activeLink {
    color: gold;
}

