.app-wrapper {
    margin: 60px auto 0 auto;
    display: grid;
    width: 1000px;

    grid-template-areas: "n c";
    grid-template-columns: 200px 800px;
}

.app-wrapper-content {
    max-width: 800px;
    grid-area: c;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.error{
    font-size: 40px;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
