.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1000px;

    grid-template-areas: "h h"
                         "n c";


    grid-template-rows: 70px;
    grid-template-columns: 200px auto;
    grid-gap: 5px;


}

.app-wrapper-content {
    grid-area: c;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
